.title1{
    font-family:'Arial Black',sans-serif;
    text-align: center;
    font-size: 50px;
}
   
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:xx-large;
}
h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}
h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}
iframe{ 
    align-items: center;
    display: block;
    margin: 0 auto;
    justify-content: center;
}
.navbar { 
    width: 100%; 
    background-color:#333333; 
    float: center; 
    padding: 0px; 
    font-size: 30px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin: auto; 
    text-align: center;
}

a:visited.navbarbutton, a:link.navbarbutton { 
    color: gold; 
    padding: 14px 25px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
}
        
}

img.castingImages {
    position: relative;
    size: 55px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3.menuSpace {
    background-color: white;
}

img.progressimages {
    height: 300px;
    width: 400px;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.citation {
    font-size:xx-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

.timelinelist {
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.question1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    size: 30px;
}

.titleimage {
    width:53%; 
    height:53%; 
    margin-left:auto; 
    margin-right: auto; 
    display: block;
}
.titleimage1{
    width:45%; 
    height:45%; 
    margin-left:auto; 
    margin-right: auto; 
    display: block;
}

.imgButton{ 
    text-align:center;
    position: relative;
}

.uniontoday{
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.causeshome{
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.ekoinfo{
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.progresslist{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
